model.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TinyCADSheets">
    <xs:annotation>
      <xs:documentation>This file was written by TinyCAD Version 2.70.00 Build #253++ Production Release
If you wish to view this file go to http://tinycad.sourceforge.net to
download a copy.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="TinyCAD">
          <xs:complexType>
            <xs:choice maxOccurs="unbounded" minOccurs="0">
              <xs:element type="xs:string" name="NAME"/>
              <xs:element name="DETAILS">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Size">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:short" name="width"/>
                            <xs:attribute type="xs:short" name="height"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="GUIDES">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:byte" name="horiz"/>
                            <xs:attribute type="xs:byte" name="vert"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="TITLE"/>
                    <xs:element type="xs:string" name="AUTHOR"/>
                    <xs:element type="xs:float" name="REVISION"/>
                    <xs:element type="xs:string" name="DOCNUMBER"/>
                    <xs:element type="xs:string" name="ORGANISATION"/>
                    <xs:element type="xs:string" name="SHEETS"/>
                    <xs:element type="xs:byte" name="SHOWS"/>
                    <xs:element type="xs:string" name="DATE"/>
                    <xs:element name="GRID">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:float" name="spacing"/>
                            <xs:attribute type="xs:byte" name="snap"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="FONT" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="HEIGHT"/>
                    <xs:element type="xs:byte" name="WIDTH"/>
                    <xs:element type="xs:short" name="WEIGHT"/>
                    <xs:element type="xs:byte" name="ITALIC"/>
                    <xs:element type="xs:byte" name="UNDERLINE"/>
                    <xs:element type="xs:byte" name="STRIKEOUT"/>
                    <xs:element type="xs:byte" name="CHARSET"/>
                    <xs:element type="xs:string" name="FACENAME"/>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="id" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="STYLE" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="STYLE"/>
                    <xs:element type="xs:byte" name="COLOR"/>
                    <xs:element type="xs:byte" name="THICKNESS"/>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="id" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="FILL">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="INDEX"/>
                    <xs:element type="xs:byte" name="COLOR"/>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="id"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="SYMBOLDEF" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="NAME">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:byte" name="type" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="REF">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:byte" name="type" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="DESCRIPTION"/>
                    <xs:element type="xs:byte" name="PPP"/>
                    <xs:element name="FIELD" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="NAME"/>
                          <xs:element type="xs:string" name="DEFAULT"/>
                          <xs:element type="xs:byte" name="FT"/>
                          <xs:element type="xs:string" name="VALUE"/>
                          <xs:element type="xs:string" name="POS"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="REF_POINT">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:byte" name="power" use="optional"/>
                            <xs:attribute type="xs:byte" name="part" use="optional"/>
                            <xs:attribute type="xs:string" name="pos" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="TinyCAD">
                      <xs:complexType>
                        <xs:choice maxOccurs="unbounded" minOccurs="0">
                          <xs:element name="PIN">
                            <xs:complexType mixed="true">
                              <xs:sequence>
                                <xs:element name="POINT" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:string" name="pos" use="optional"/>
                                        <xs:attribute type="xs:byte" name="arc" use="optional"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="pos" use="optional"/>
                              <xs:attribute type="xs:byte" name="which" use="optional"/>
                              <xs:attribute type="xs:byte" name="elec" use="optional"/>
                              <xs:attribute type="xs:byte" name="direction" use="optional"/>
                              <xs:attribute type="xs:byte" name="part" use="optional"/>
                              <xs:attribute type="xs:byte" name="number" use="optional"/>
                              <xs:attribute type="xs:byte" name="show" use="optional"/>
                              <xs:attribute type="xs:byte" name="length" use="optional"/>
                              <xs:attribute type="xs:byte" name="number_pos" use="optional"/>
                              <xs:attribute type="xs:byte" name="centre_name" use="optional"/>
                              <xs:attribute type="xs:byte" name="style" use="optional"/>
                              <xs:attribute type="xs:byte" name="fill" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="POLYGON">
                            <xs:complexType mixed="true">
                              <xs:sequence>
                                <xs:element name="POINT" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:string" name="pos" use="optional"/>
                                        <xs:attribute type="xs:byte" name="arc" use="optional"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="pos" use="optional"/>
                              <xs:attribute type="xs:byte" name="style" use="optional"/>
                              <xs:attribute type="xs:byte" name="fill" use="optional"/>
                              <xs:attribute type="xs:byte" name="which" use="optional"/>
                              <xs:attribute type="xs:byte" name="elec" use="optional"/>
                              <xs:attribute type="xs:byte" name="direction" use="optional"/>
                              <xs:attribute type="xs:byte" name="part" use="optional"/>
                              <xs:attribute type="xs:byte" name="number" use="optional"/>
                              <xs:attribute type="xs:byte" name="show" use="optional"/>
                              <xs:attribute type="xs:byte" name="length" use="optional"/>
                              <xs:attribute type="xs:byte" name="number_pos" use="optional"/>
                              <xs:attribute type="xs:byte" name="centre_name" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="RECTANGLE">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="a" use="optional"/>
                                  <xs:attribute type="xs:string" name="b" use="optional"/>
                                  <xs:attribute type="xs:byte" name="style" use="optional"/>
                                  <xs:attribute type="xs:byte" name="fill" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="TEXT">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="pos" use="optional"/>
                                  <xs:attribute type="xs:byte" name="direction" use="optional"/>
                                  <xs:attribute type="xs:byte" name="font" use="optional"/>
                                  <xs:attribute type="xs:byte" name="color" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:choice>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="id" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="OPTIONS">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="GRID"/>
                    <xs:element type="xs:byte" name="UNITS"/>
                    <xs:element type="xs:string" name="COLOR_WIRE"/>
                    <xs:element type="xs:string" name="COLOR_BUS"/>
                    <xs:element type="xs:byte" name="COLOR_JUNCTION"/>
                    <xs:element type="xs:byte" name="COLOR_NOCONNECT"/>
                    <xs:element type="xs:int" name="COLOR_LABEL"/>
                    <xs:element type="xs:byte" name="COLOR_POWER"/>
                    <xs:element type="xs:string" name="COLOR_PIN"/>
                    <xs:element type="xs:int" name="COLOR_HIDDEN_PIN"/>
                    <xs:element type="xs:string" name="COLOR_BACKGROUND"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="JUNCTION">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="pos"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="SYMBOL" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="FIELD" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:byte" name="type" use="optional"/>
                            <xs:attribute type="xs:string" name="description" use="optional"/>
                            <xs:attribute type="xs:string" name="value" use="optional"/>
                            <xs:attribute type="xs:byte" name="show" use="optional"/>
                            <xs:attribute type="xs:string" name="pos" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="id" use="optional"/>
                  <xs:attribute type="xs:string" name="pos" use="optional"/>
                  <xs:attribute type="xs:byte" name="part" use="optional"/>
                  <xs:attribute type="xs:byte" name="rotate" use="optional"/>
                  <xs:attribute type="xs:byte" name="can_scale" use="optional"/>
                  <xs:attribute type="xs:byte" name="show_power" use="optional"/>
                  <xs:attribute type="xs:float" name="scale_x" use="optional"/>
                  <xs:attribute type="xs:float" name="scale_y" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="POWER" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="pos" use="optional"/>
                      <xs:attribute type="xs:byte" name="which" use="optional"/>
                      <xs:attribute type="xs:byte" name="direction" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="WIRE" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element name="FIELD" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:byte" name="type" use="optional"/>
                            <xs:attribute type="xs:string" name="description" use="optional"/>
                            <xs:attribute type="xs:string" name="value" use="optional"/>
                            <xs:attribute type="xs:byte" name="show" use="optional"/>
                            <xs:attribute type="xs:string" name="pos" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="a" use="optional"/>
                  <xs:attribute type="xs:string" name="b" use="optional"/>
                  <xs:attribute type="xs:byte" name="id" use="optional"/>
                  <xs:attribute type="xs:string" name="pos" use="optional"/>
                  <xs:attribute type="xs:byte" name="part" use="optional"/>
                  <xs:attribute type="xs:byte" name="rotate" use="optional"/>
                  <xs:attribute type="xs:byte" name="can_scale" use="optional"/>
                  <xs:attribute type="xs:byte" name="show_power" use="optional"/>
                  <xs:attribute type="xs:float" name="scale_x" use="optional"/>
                  <xs:attribute type="xs:float" name="scale_y" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="LABEL">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element name="FIELD" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:byte" name="type" use="optional"/>
                            <xs:attribute type="xs:string" name="description" use="optional"/>
                            <xs:attribute type="xs:string" name="value" use="optional"/>
                            <xs:attribute type="xs:byte" name="show" use="optional"/>
                            <xs:attribute type="xs:string" name="pos" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="pos" use="optional"/>
                  <xs:attribute type="xs:byte" name="direction" use="optional"/>
                  <xs:attribute type="xs:byte" name="font" use="optional"/>
                  <xs:attribute type="xs:int" name="color" use="optional"/>
                  <xs:attribute type="xs:byte" name="style" use="optional"/>
                  <xs:attribute type="xs:byte" name="id" use="optional"/>
                  <xs:attribute type="xs:byte" name="part" use="optional"/>
                  <xs:attribute type="xs:byte" name="rotate" use="optional"/>
                  <xs:attribute type="xs:byte" name="can_scale" use="optional"/>
                  <xs:attribute type="xs:byte" name="show_power" use="optional"/>
                  <xs:attribute type="xs:float" name="scale_x" use="optional"/>
                  <xs:attribute type="xs:float" name="scale_y" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:choice>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
